.body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.chatContainer {
    display: flex;
    width: 90%;
    height: 40%;
    overflow: hidden;
}

.leftBlock {
    width: 20%;
    height: 100vh;
    left: 10%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    border-right: 1px #DBDDE1 solid;

}

.headerLeftBlock {
    height: 60px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 11px;
    padding-right: 16px;
    align-items: flex-start;
    display: flex;
    border-right: 1px #DBDDE1 solid;
}

.search {
    width: 80%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 8px;
    border-radius: 20px;
    border: 1px #DBDDE1 solid;
    align-items: center;
    gap: 8px;
    display: flex;
}

.enterSearch {
    width: 160px;
    height: 35px;
    padding: 0 10px;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 20px;
    border: none;
    outline: none;
    background: transparent;
}

.friendList {
    overflow: auto;
    height: 90vh;
}


.chatBlock {
    padding: 11px 11px;
    background: white;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.chatBlock:hover {
    background-color: #cdcbcb;
}

.individualPhoto {
    width: 49px;
    height: 49px;
    position: relative;
}

.messageBlock {
    flex: 1;
    margin-left: 30px;
    margin-top: 25px;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.friendName {
    color: #080707;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 20px;
}

.messageContent {
    color: #080707;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 400;
    word-wrap: break-word;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.timeStamp {
    color: #080707;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 400;
    margin-top: 22px;
}

.ceoGroupPhotoBlock {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    overflow: hidden;
    display: flex
}


.headerRightBlock {
    width: 100%;
    top: 0%;
    background-color: white;
    left: 20%;
    height: 8%;
    position: fixed;
}

.headerTitle {
    left: 66px;
    top: 9px;
    position: absolute;
    color: #080707;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 20px;
    word-wrap: break-word;
}

.subHeader {
    left: 66px;
    top: 35px;
    position: absolute;
    color: #747881;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 400;
    word-wrap: break-word;
}

.avatarHeader {
    width: 49px;
    height: 49px;
    left: 10px;
    top: 10px;
    position: relative;
    border-radius: 50%;
}

.onlineStatusIsSelected {
    width: 9px;
    height: 9px;
    left: 75%;
    top: 7%;
    position: absolute;
    background: #20E070;
    border-radius: 50%;
}

.offlineStatusIsSelected {
    width: 9px;
    height: 9px;
    left: 60%;
    top: 5%;
    position: absolute;
    background: red;
    border-radius: 50%;
}

.textChat {
    width: 80%;
    left: 20%;
    top: 7%;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 87%;
}

.chat-messages {
    width: 100%;
    display: flex;
    overflow-y: auto;
    height: 100%;
}

.divideInColumn {
    flex: 1 1 0;
    flex-direction: column;
    display: flex;
}

.friendColumn {
    align-self: stretch;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 8px;
    display: flex;
    margin-top: 45%;
    margin-bottom: -45%;
    position: relative;
}

.avatarFriend {
    align-self: stretch;
    padding-bottom: 18px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    display: flex;
    margin-bottom: -0.3%;
}

.photoShape {
    width: 36px;
    height: 36px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
}

.messageBlock {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2px;
    display: flex;
    right: 80%;
}

.messageShape {
    background: #E9EAED;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 2px;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    display: flex;
    position: relative;
}

.messageShapeFormat {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    display: flex;
    position: relative;
}

.messageFriendTextFormat {
    color: #080707;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 400;
    word-wrap: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    max-width: 290px;
    position: relative;
}

.messageTime {
    color: #747881;
    font-size: 12px;
    font-family: Roboto;
    font-weight: 400;
}

.myColumn {
    align-self: stretch;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 2px;
    display: flex;
    margin-top: 45%;
    margin-bottom: -45%;
    position: relative;
}

.myFormatColumn {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 2px;
    display: flex;
}

.textBlockInColumn {
    justify-content: flex-end;
    align-items: flex-end;
    gap: 8px;
    display: flex;
}

.myFormatBlock {
    background: #E0F0FF;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 18px;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    display: flex;
    position: relative;
}


.letterAlignmentInBlock {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    display: flex;
}

.myMessage {
    color: #080707;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word;
    max-width: 290px;
}

.individualBlock {
    width: 16%;
    height: 300px;
    background: white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.18);
    border-radius: 8px;
    position: fixed;
    top: 8%;
    display: none;
}

.splitColumnsInIndividualBlocks {
    height: 280px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.lineFormatOfIndividualBlock {
    align-self: stretch;
    height: 56px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 16px;
    background: white;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    display: inline-flex;
}

.formatTheOneLineOfTheIndividualBlock {
    align-self: stretch;
    height: 56px;
    padding: 16px;
    background: white;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
}

.formatTheSecondLineOfTheIndividualBlock {
    align-self: stretch;
    height: 56px;
    padding: 16px;
    background: white;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    display: inline-flex;
}

.elementFormatBlockInIndividualBlock {
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    display: flex;
}

.iconFormatInIndividualBlock {
    width: 24px;
    height: 24px;
    padding: 2px;
    justify-content: center;
    align-items: center;
    display: flex;
}


.formatTextInIndividualBlocks {
    color: #080707;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 20px;
    word-wrap: break-word;
}

.chat-container {
    width: 79%;
    padding: 8px;
    left: 20%;
    top: 93.3%;
    position: fixed;
    background-color: white;
}

.chat-input {
    align-items: flex-end;
    gap: 8px;
    display: inline-flex;
    width: 100%;
}

.input-box {
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 4px;
    border-radius: 20px;
    border: 1px #DBDDE1 solid;
    align-items: center;
    gap: 8px;
    display: flex;
}

.input-box textarea {
    flex: 1 1 0;
    align-self: stretch;
    padding: 0 10px;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 20px;
    border: none;
    outline: none;
    background: transparent;
}

#fileInput {
    display: none;
}

.emojiPopupInMessage {
    position: absolute;
    bottom: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px;
    display: flex;
    gap: 5px;
    z-index: 10;
}

.emojiPopup {
    position: absolute;
    top: 60%;
    left: 91%;
    transform: translateX(-50%);
    background-color: #fff;
    border: 5px solid #d7cccc;
    border-radius: 20px;
    padding: 10px;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    width: 12%;
    height: 30%;
    overflow-y: auto;
    display: none;
}

.emojiPopup span {
    font-size: 24px;
    margin: 5px;
    cursor: pointer;
}

.fileButton {
    cursor: pointer;
}

.emojiButton {
    cursor: pointer;
}

.sendButton {
    cursor: pointer;
}

.dotStatusOnline {
    width: 12px;
    height: 12px;
    left: 90%;
    top: 20%;
    position: absolute;
    background: #20E070;
    border-radius: 50%;
}

.dotStatusNotOnline {
    width: 12px;
    height: 12px;
    left: 90%;
    top: 20%;
    position: absolute;
    background: red;
    border-radius: 50%;
}

.noMessages {
    margin-top: 15%;
    margin-left: 43%;
    width: 15%;
}

.titleNoMessages {
    width: 30%px;
    text-align: center;
    color: #747881;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
}

.avatarFriendIsSelect {
    border-radius: 50%;
}

.multiLineText {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.iconleft {
    position: absolute;
    right: -15%;
    transition: opacity 0.3s;
    cursor: pointer;
}

.iconright {
    position: absolute;
    right: 120%;
    transition: opacity 0.3s;
    cursor: pointer;
}

#iconMenuLeft {
    position: absolute;
    right: -30%;
}

#iconMenuRight {
    position: absolute;
    right: 150%;
}

.hiddenIcon {
    opacity: 0;
}

.messageShape:hover .hiddenIcon,
.myFormatBlock:hover .hiddenIcon {
    opacity: 1;
}

.emojiInMessageLeft {
    width: 400px;
    height: 62px;
    padding: 8px;
    background: rgb(253, 253, 253);
    border-radius: 24px;
    gap: 10px;
    display: flex;
    border: solid 1px rgb(244, 234, 234);
    position: absolute;
    top: -50%;
    display: none;
}

.emojiInMessageRight {
    width: 400px;
    height: 62px;
    padding: 8px;
    background: rgb(253, 253, 253);
    border-radius: 24px;
    gap: 10px;
    display: flex;
    border: solid 1px rgb(244, 234, 234);
    position: absolute;
    bottom: 100%;
    left: 72%;
    display: none;
}


.emoji {
    padding: 11px;
}

.emoji:hover {
    background-color: rgb(99, 153, 239);
    border-radius: 30%;
    cursor: pointer;
}

.renameBox {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1000;

}

.reUsernameBox {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1000;

}

#userAvatar {
    cursor: pointer;
}