body{
  margin: 0;
}
.container {
  width: 100%; 
  height: 100vh; 
  position: relative; 
  background: #F6F6F6; 
  border-radius: 40px; 
  overflow: hidden;
}

.backgroundOrangeBlue{
  width: 60%; 
  left: 30%; 
  top: 45%;
  transform: translate(-50%, -50%); 
  position: absolute;
}

.imageOrangeBlue{
  width: 800px; height: 800px; left: 50px; top: 100px; position: relative;
}

.imageOrangeBlue img{
  width: 100%; height: 100%;
}

.loginButtonBlock{
  width: 60%; 
  left: 98.5%; 
  top: 55%;
  transform: translate(-50%, -50%); 
  position: absolute;
}

.buttonBlock {
  width: 400px;
  height: 77px;
  left: 0px;
  top: 89px;
  position: absolute;
}

.loginButton {
  width: 400px;
  height: 60px;
  left: 0px;
  top: 9px;
  position: absolute;
  background: #4461F2;
  box-shadow: 0px 12px 21px 4px rgba(68, 97, 242, 0.15);
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 19px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.71px;
  text-align: center;
  cursor: pointer;
}



.passwordResetLink {
  left: 260px;
  top: 0px;
  position: absolute;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 77px; 
  letter-spacing: 1.40px;
  word-wrap: break-word;
  text-decoration: none;
  color: #C7C7C7;
}

.continueWith {
  width: 400px;
  height: 77px;
  left: 0px;
  top: 181px;
  position: absolute;
}

.continueWithText {
  left: 138px;
  top: 0px;
  position: absolute;
  color: #ACADAC;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 77px;
  letter-spacing: 1.26px;
  word-wrap: break-word;
}

.separatorLeft {
  width: 120px;
  height: 0px;
  left: 0%;
  top: 38px;
  position: absolute;
  border: 1px #DFDFDF solid;
}

.separatorRight {
  width: 120px;
  height: 0px;
  left: 70%;
  top: 38px;
  position: absolute;
  border: 1px #DFDFDF solid;
}

.iconFacebook{
  width: 117px; 
  height: 60px; 
  left: 284px; 
  top: 279px; 
  position: absolute;
}

.iconApple{
  width: 117px; 
  height: 60px; 
  left: 142px; 
  top: 279px; 
  position: absolute;
}

.iconGoogle{
  width: 117px; 
  height: 60px; 
  left: 0px; 
  top: 279px; 
  position: absolute;
}

.outsideIcon{
  width: 117px; 
  height: 60px; 
  left: 0px; 
  top: 0px; 
  position: absolute; 
  background: #F6F6F6; 
  border-radius: 10px; 
  border: 1px #DDDFDD solid;
}

.outsideIcon:hover {
  background: white; 
  box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.13); 
}

.insideIcon{
  width: 28px; 
  height: 28px; 
  left: 45px; 
  top: 16px; 
  position: absolute;
}

.topSide{
  width: 55%; 
  left: 100%; 
  top: 10%;
  transform: translate(-50%, -50%); 
  position: absolute;
}

.language{
  width: 79px; 
  height: 16px; 
  left: 0px; 
  top: 12px; 
  position: absolute;
}

.iconDown{
  width: 13px; 
  height: 7px; 
  left: 63px; 
  top: 0px; 
  position: absolute;
}

.english{
  width: 74px; 
  height: 16px; 
  left: 0px; 
  top: 0px; 
  position: absolute; 
  color: black; 
  font-size: 17px; 
  font-family: Roboto; 
  font-weight: 500; 
  letter-spacing: 1.02px; 
  word-wrap: break-word;
}

.registrationButtonTab{
  width: 112px; 
  height: 42px; 
  left: 216px; 
  top: 0px; 
  position: absolute
}

.rgButtonTab{
  width: 112px; 
  height: 42px; 
  left: 0px; 
  top: 0px; 
  position: absolute; 
  background: white; 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05); 
  border-radius: 21px;
}

.registrationTab{
  width: auto;
  height: 16px; 
  left: 21px; 
  top: 12px; 
  position: absolute; 
  color: #4461F2; 
  font-size: 17px; 
  font-family: Roboto; 
  font-weight: 700; 
  letter-spacing: 1.02px; 
  word-wrap: break-word; 
  background-color: transparent; 
  border: none; 
  cursor: pointer; 
  white-space: nowrap;
}

.loginButtonTab{
  width: 99px; 
  height: 31px; 
  left: 117px; 
  top: 12px; 
  position: absolute;
}

.lgButtonTab{
  width: 34.78px; 
  height: 0px; 
  left: 22.74px; 
  top: 31px; 
  position: absolute; 
  border: 3px #4461F2 solid;
}

.loginTab{
  width: 99px; 
  height: 16px; 
  left: 0px; 
  top: 0px; 
  position: absolute; 
  color: #4461F2; 
  font-size: 17px; 
  font-family: Roboto; 
  font-weight: 700; 
  letter-spacing: 1.02px; 
  word-wrap: break-word; 
  background-color: transparent; 
  border: none; 
  cursor: pointer; 
  white-space: nowrap;
}

.lableBlock {
  width: 60%; 
  left: 43%; 
  top: 40%;
  transform: translate(-50%, -50%); 
  position: absolute;
}

.lable {
    width: 607px;
    height: 141px;
    left: 0px;
    top: 0px;
    position: absolute;
    color: black;
    font-size: 58px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 77px;
    word-wrap: break-word;
}

.registrationLink {
    width: 290px;
    height: 63px;
    left: 2px;
    top: 218px;
    position: absolute;
}

.registrationLink span, a {
    color: black;
    font-size: 23px;
    font-family: Roboto;
    font-weight: 400;
    word-wrap: break-word;
}

.registrationLink a {
    text-decoration: none;
    color: #4461F2;
}

.inputField{
  width: 60%; 
  left: 98.5%; 
  top: 43%;
  transform: translate(-50%, -50%); 
  position: absolute;
}

.account{
  width: 400px; 
  position: relative;
}

.inputAccountBlock{
  width: 400px; 
  height: 60px; 
  background: #EAF0F7; 
  border-radius: 10px;
}

.inputAccount{
  width: 360px; 
  height: 40px; 
  left: 20px; 
  top: 10px; 
  position: absolute; 
  border: none; 
  background: #EAF0F7; 
  border-radius: 5px; 
  padding: 5px; 
  font-size: 18px; 
  color: #4F555A; 
  font-family: Roboto; 
  font-weight: 500; 
  line-height: 24px; 
  outline: none;
}

.inputPassword {
  width: 360px; 
  height: 40px; 
  left: 20px; 
  top: 10px; 
  position: absolute; 
  border: none; 
  background: #EAF0F7; 
  border-radius: 5px; 
  padding: 5px; 
  font-size: 18px; 
  color: #667085; 
  font-family: Inter; 
  font-weight: 400; 
  line-height: 24px; 
  outline: none;
}

.iconInField{
  width: 20px; 
  height: 20px; 
  position: relative; 
  left: 360px; 
  top: 22px;
}

.password{
  width: 400px; 
  height: 77px; 
  position: absolute; 
  top: 68px;
}

.inputPasswordBlock{
  width: 400px; 
  height: 60px; 
  background: #EAF0F7; 
  border-radius: 10px;
}

.projectImage {
  width: 25%;
  height: 50%; 
  left: 50%; 
  top: 75%;
  transform: translate(-50%, -50%); 
  position: absolute;
}

.logo {
  width: 70%; 
  left: 7%; 
  top: 7%;
  transform: translate(-50%, -50%); 
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.logo img {
    width: 100px;
    height: 40px;
}

img{
  width: 100%; height: 100%; cursor: pointer;
}

.errorText{
  width: 50%; 
  left: 99%; 
  top: 56%;
  transform: translate(-50%, -50%); 
  position: absolute;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 77px; 
  letter-spacing: 1.40px;
}